.vscode
PEiD
pehash/
rules.zip
rules/
tlsh-master.zip
tlsh-master/
tlsh/
trid
triddefs.trd
triddefs.zip
trid_linux_64/
trid_linux_64.zip
yara
e2e/
.venv
die_lin64_portable/
die_lin64_portable_*.*.tar.gz
.idea
__pycache__
dockertestbin/
.python-version
measurement/
out_dir/
Manalyze/
*.stats
.tool-versions
workspace/impfuzzy/
die/
mal/
