[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
ssdeep = "*"
pyimpfuzzy = "*"
lief = "*"
pefile = "*"
pandas = "*"
yara-python = "*"
logzero = "*"
numpy = "*"

[requires]
python_version = "3.6"
